@using CafeErez.Shared.Infrastructure.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<LoginDisplay> _localizer

<MudAppBar>
    @_localizer["Welcome to Cafe Erez"]
    <MudSpacer />
    <a href="/register" style="font-size:larger; color:whitesmoke" >Register</a>
    <MudText> &nbsp;&nbsp;&nbsp</MudText>
    <a href="/Login" style="font-size:larger; color:whitesmoke" >Login</a>
    <MudMenu Icon="@Icons.Material.Outlined.Translate" Color="Color.Inherit" Direction="Direction.Bottom" OffsetY="true" Dense="true">
        @foreach (var language in LocalizationConstants.SupportedLanguages)
        {
            <MudMenuItem OnClick="(()=> ChangeLanguageAsync(language))">@_localizer[language.DisplayName]</MudMenuItem>
        }
    </MudMenu>
</MudAppBar>
